* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  z-index: 0;
}
header {
  background-color: #00274d;
  height: 6rem;

}
.heading  {
  display: flex;
  align-items: center;
  padding: 15px;
}
.heading h1{
  color: #ffffff;
}
.fa-solid{
color: white; 
font-size: 2rem;
display: none;
}

.heading div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: -0.3rem;
}
header img {
 width: 8rem;
 height: 4.5rem;
}

.icon{
width: 1rem;
color: white;


}

nav.visible {
display: block;
padding: 40px;
}


nav ul {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;
  margin-top: 1rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
nav ul li a:hover {
  color: #ffd700;
}
.main-container {
  margin-top: 3rem;
}

.card {
  grid-column: 1;
  border: 1px solid  rgb(189, 189, 189) ;
  width: 40rem;
  height: 35rem;
  border-radius: 15px;
}
.card-h2 {
  background-color: #00274d;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 3rem;
  padding: 10px;
  color: #ffffff;
}
main {
  max-width: 1450px; 
  margin: 0 auto;    
  padding: 20px;     
}
.div1{
  display: flex;
  padding: 5px;
  height: 8rem;
}

.div1 ul {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.links-card {
  grid-column: 1;
  border: 1px solid  rgb(189, 189, 189);
  width: 25rem;
  height: 35rem;
  border-radius: 15px;
}
.about-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  padding: 5px;
  width: 75%;
  margin: auto;
}
.card-h2 img{
  width: 22rem;
  height: 25rem;
  margin-top: 3rem;
}

.boabab-tree{
  color: grey;
}


.web-comp-card{
width: 75%;
height: 100%;
margin: auto;
margin-top: 2rem;
}

.web-comp-card div h1 {
background-color: #00274d;
color: white;
height:100%;
display: flex;
justify-content: center;
align-items: center;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;

}

.All-CSE-WDD {
display: flex;
justify-content: space-between;
padding-top: 1rem;
width: 50%;
margin: auto;
}

.class-category {
background-color: black;
color: white;
font-weight: bold;
height: 2rem;
width: 10rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.3rem;
}

.courses {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
margin-left: 2rem;
margin-right: 2rem;
margin-top: 1rem;
}

.courses div {
background-color: rgb(107, 55, 31);
color: white;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
border-radius: 0.3rem;
}

.courses-selected {
background-color: rgb(128, 126, 126) !important;
}



















.footer-container {
  background-color: #00274d;
  height: 5rem;
  margin-top: 1rem;
}
footer p {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
.footer-p-container {
  padding: 10px;
}
.highlight {
  color: #ffffff;
}
.lastmodified {
  color: gold;
}

@media(max-width: 768px){
 h1 {
    font-size: 1.5rem;
  }
 .fa-solid{
      display: contents;
      padding: 40px;
    }
  .heading div{
    width: 80%;
  }


  nav {
    display: none;
    }
    
  .about-section-container {
    width: 100%;
    display: block;
    margin-top: -3rem;
  }

 
  .card {
    width:100%;
    height: 15rem;
  }

  .card-h2 img {
    width: 90%;
  }

  .links-card {
    width: 100%;
    margin-top: 2rem;
  }

  nav ul {
    height: 100vh;
    display: block;
    background-color: #fff;
    position:absolute;
    left: 0;
    top: -15px;
    width: 80%;
    gap: 1rem;
  }

  nav ul li a{
    color: #000000;
    font-weight: bold;
  }
  nav ul li{
    height: 2rem;
    gap: -1px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

 

  .web-comp-card {
    width: 100%;
    
  }

  .web-comp-card div h1 {
    text-align: center;
    height: 3rem;
  }

  .All-CSE-WDD {
    width: 100%;
    padding-left: 2rem;
    padding-right:2rem;
  }
  .courses {
    display: block;
    
  }
  .courses div{
    margin-top: 1rem
  }
}
@media (max-width: 600px){
  .All-CSE-WDD {
    gap: 1rem;
  }

}